<script>
    const chevronUp = `<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8">
             <path id="chevron-down"
                   d="M5.293,16.707a1,1,0,0,0,1.414,0L12,11.414l5.293,5.293a1,1,0,0,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,5.293,16.707Z"
                   transform="translate(-5 -9)" fill="#0d0d0d"/>
     </svg>`

    const chevronDown = `<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8">
                            <path id="chevron-down"
                                  d="M.293,7.707a1,1,0,0,0,1.414,0L7,2.414l5.293,5.293a1,1,0,0,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,.293,7.707Z"
                                  transform="translate(14 8) rotate(180)" fill="#efba46"/>
                        </svg>`

    function eventMenu(id){
        const subcategory = "#subcategory" + id;
        const displaysubcategory = document.querySelectorAll(subcategory)
        const spancategory = "#spansubcategory" + id;
        const spandisplaysubcategory = document.querySelectorAll(spancategory)
        const articlecat ="#article"+id;
        const articlecategory = document.querySelectorAll(articlecat)
        const spansvg = document.getElementById(id)
         displaysubcategory.forEach((subcat)=>{
             if (subcat.style.display === "" || subcat.style.display === "table-row"){
                 spansvg.innerHTML = ""
                 spansvg.innerHTML = chevronUp;
                 subcat.style.display = "none";
                         articlecategory.forEach((article)=>{
                             article.style.display ="none"
                         })
                     }else{
                 spansvg.innerHTML = ""
                 spansvg.innerHTML = chevronDown;
                 subcat.style.display = "table-row"
                 articlecategory.forEach((article)=>{
                     article.style.display ="table-row"
                 })
                     }
         })
     }
</script>
<tr class="table-title">
    <td>Nom</td>
    <td>Actions</td>
</tr>
<tr class="table-add_cat">
    <td colspan="2">
        <a class="table-button" href="" id="new">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                <path xmlns="http://www.w3.org/2000/svg"
                      d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
                      fill="#0D0D0D"></path>
            </svg>
            <span>Ajout d'une catégorie</span>
        </a>
    </td>
</tr>
{% set parent = "" %}
{% for category in categories %}
    {% set parent = category.name %}
    {% if category.parent == null %}
        <tr class="table-cat">
            <td id="category" onclick="eventMenu('{{ parent }}')"><span id="{{ parent }}"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8"><path id="chevron-down" d="M.293,7.707a1,1,0,0,0,1.414,0L7,2.414l5.293,5.293a1,1,0,0,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,.293,7.707Z" transform="translate(14 8) rotate(180)" fill="#efba46"/></svg></span>
                <span>{{ category.name }}</span>
            </td>
            <td>
                <button id="categorieEdit" value="{{ category.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                        <path xmlns="http://www.w3.org/2000/svg"
                              d="M16.2929 3.29289C16.6834 2.90237 17.3166 2.90237 17.7071 3.29289L20.7071 6.29289C21.0976 6.68342 21.0976 7.31658 20.7071 7.70711L11.7071 16.7071C11.5196 16.8946 11.2652 17 11 17H8C7.44772 17 7 16.5523 7 16V13C7 12.7348 7.10536 12.4804 7.29289 12.2929L16.2929 3.29289ZM9 13.4142V15H10.5858L18.5858 7L17 5.41421L9 13.4142ZM3 7C3 5.89543 3.89543 5 5 5H10C10.5523 5 11 5.44772 11 6C11 6.55228 10.5523 7 10 7H5V19H17V14C17 13.4477 17.4477 13 18 13C18.5523 13 19 13.4477 19 14V19C19 20.1046 18.1046 21 17 21H5C3.89543 21 3 20.1046 3 19V7Z"
                              fill="#0D0D0D"></path>
                    </svg>
                </button>
                <form method="post" action="{{ path('app_categories_delete', {'id': category.id}) }}"
                      onsubmit="return confirm('Voulez-vous supprimer cette catégorie?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                    <button class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24"
                             width="24">
                            <path xmlns="http://www.w3.org/2000/svg"
                                  d="M7 4C7 2.89543 7.89543 2 9 2H15C16.1046 2 17 2.89543 17 4V6H18.9897C18.9959 5.99994 19.0021 5.99994 19.0083 6H21C21.5523 6 22 6.44772 22 7C22 7.55228 21.5523 8 21 8H19.9311L19.0638 20.1425C18.989 21.1891 18.1182 22 17.0689 22H6.93112C5.88184 22 5.01096 21.1891 4.9362 20.1425L4.06888 8H3C2.44772 8 2 7.55228 2 7C2 6.44772 2.44772 6 3 6H4.99174C4.99795 5.99994 5.00414 5.99994 5.01032 6H7V4ZM9 6H15V4H9V6ZM6.07398 8L6.93112 20H17.0689L17.926 8H6.07398ZM10 10C10.5523 10 11 10.4477 11 11V17C11 17.5523 10.5523 18 10 18C9.44772 18 9 17.5523 9 17V11C9 10.4477 9.44772 10 10 10ZM14 10C14.5523 10 15 10.4477 15 11V17C15 17.5523 14.5523 18 14 18C13.4477 18 13 17.5523 13 17V11C13 10.4477 13.4477 10 14 10Z"
                                  fill="#0D0D0D"></path>
                        </svg>
                    </button>
                </form>

            </td>
        </tr>

        {% for category in categories %}
            {% if category.parent == parent %}
                <tr class="table-sub_cat" id="subcategory{{ category.parent }}">
                    <td id="sub{{ category.parent }}" onclick="eventSousMenu('{{ category.parent }}')">
                        <span id="spansubcategory{{ category.parent }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8">
                            <path id="chevron-down"
                                  d="M.293,7.707a1,1,0,0,0,1.414,0L7,2.414l5.293,5.293a1,1,0,0,0,1.414-1.414l-6-6a1,1,0,0,0-1.414,0l-6,6A1,1,0,0,0,.293,7.707Z"
                                  transform="translate(14 8) rotate(180)" fill="#efba46"/>
                        </svg>
                            </span>
                        <span>{{ category.name }}</span>
                    </td>
                    <td>
                        <button id="categorieEdit" value="{{ category.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24"
                                 width="24">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M16.2929 3.29289C16.6834 2.90237 17.3166 2.90237 17.7071 3.29289L20.7071 6.29289C21.0976 6.68342 21.0976 7.31658 20.7071 7.70711L11.7071 16.7071C11.5196 16.8946 11.2652 17 11 17H8C7.44772 17 7 16.5523 7 16V13C7 12.7348 7.10536 12.4804 7.29289 12.2929L16.2929 3.29289ZM9 13.4142V15H10.5858L18.5858 7L17 5.41421L9 13.4142ZM3 7C3 5.89543 3.89543 5 5 5H10C10.5523 5 11 5.44772 11 6C11 6.55228 10.5523 7 10 7H5V19H17V14C17 13.4477 17.4477 13 18 13C18.5523 13 19 13.4477 19 14V19C19 20.1046 18.1046 21 17 21H5C3.89543 21 3 20.1046 3 19V7Z"
                                      fill="#0D0D0D"></path>
                            </svg>
                        </button>
                        <form method="post" action="{{ path('app_categories_delete', {'id': category.id}) }}"
                              onsubmit="return confirm('Voulez-vous supprimer cette sous-catégorie?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                            <button class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24"
                                     width="24">
                                    <path xmlns="http://www.w3.org/2000/svg"
                                          d="M7 4C7 2.89543 7.89543 2 9 2H15C16.1046 2 17 2.89543 17 4V6H18.9897C18.9959 5.99994 19.0021 5.99994 19.0083 6H21C21.5523 6 22 6.44772 22 7C22 7.55228 21.5523 8 21 8H19.9311L19.0638 20.1425C18.989 21.1891 18.1182 22 17.0689 22H6.93112C5.88184 22 5.01096 21.1891 4.9362 20.1425L4.06888 8H3C2.44772 8 2 7.55228 2 7C2 6.44772 2.44772 6 3 6H4.99174C4.99795 5.99994 5.00414 5.99994 5.01032 6H7V4ZM9 6H15V4H9V6ZM6.07398 8L6.93112 20H17.0689L17.926 8H6.07398ZM10 10C10.5523 10 11 10.4477 11 11V17C11 17.5523 10.5523 18 10 18C9.44772 18 9 17.5523 9 17V11C9 10.4477 9.44772 10 10 10ZM14 10C14.5523 10 15 10.4477 15 11V17C15 17.5523 14.5523 18 14 18C13.4477 18 13 17.5523 13 17V11C13 10.4477 13.4477 10 14 10Z"
                                          fill="#0D0D0D"></path>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                <tr class="table-add_article" id="article{{ category.parent }}">
                    <td colspan="2">
                        <a class="table-button" href="{{ path('app_articles_new',{id:category.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24"
                                 width="24">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z"
                                      fill="#0D0D0D"></path>
                            </svg>
                            <span>Ajout d'un article</span>
                        </a>
                    </td>
                </tr>
                {% for article in articles %}
                    {% if article.categorie == category %}
                        <tr class="table-article" id="article{{ article.categorie.parent }}">
                            <td>
                                <a href="{{ path('app_articles_edit',{id:article.id}) }}">{{ article.title }}</a>
                            </td>
                            <td>
                                <a href="{{ path('app_articles_edit',{id:article.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24"
                                         width="24">
                                        <path xmlns="http://www.w3.org/2000/svg"
                                              d="M16.2929 3.29289C16.6834 2.90237 17.3166 2.90237 17.7071 3.29289L20.7071 6.29289C21.0976 6.68342 21.0976 7.31658 20.7071 7.70711L11.7071 16.7071C11.5196 16.8946 11.2652 17 11 17H8C7.44772 17 7 16.5523 7 16V13C7 12.7348 7.10536 12.4804 7.29289 12.2929L16.2929 3.29289ZM9 13.4142V15H10.5858L18.5858 7L17 5.41421L9 13.4142ZM3 7C3 5.89543 3.89543 5 5 5H10C10.5523 5 11 5.44772 11 6C11 6.55228 10.5523 7 10 7H5V19H17V14C17 13.4477 17.4477 13 18 13C18.5523 13 19 13.4477 19 14V19C19 20.1046 18.1046 21 17 21H5C3.89543 21 3 20.1046 3 19V7Z"
                                              fill="#0D0D0D"></path>
                                    </svg>
                                </a>
                                <form method="post" action="{{ path('app_articles_delete', {'id': article.id}) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                    <button class="btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             height="24"
                                             width="24">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                  d="M7 4C7 2.89543 7.89543 2 9 2H15C16.1046 2 17 2.89543 17 4V6H18.9897C18.9959 5.99994 19.0021 5.99994 19.0083 6H21C21.5523 6 22 6.44772 22 7C22 7.55228 21.5523 8 21 8H19.9311L19.0638 20.1425C18.989 21.1891 18.1182 22 17.0689 22H6.93112C5.88184 22 5.01096 21.1891 4.9362 20.1425L4.06888 8H3C2.44772 8 2 7.55228 2 7C2 6.44772 2.44772 6 3 6H4.99174C4.99795 5.99994 5.00414 5.99994 5.01032 6H7V4ZM9 6H15V4H9V6ZM6.07398 8L6.93112 20H17.0689L17.926 8H6.07398ZM10 10C10.5523 10 11 10.4477 11 11V17C11 17.5523 10.5523 18 10 18C9.44772 18 9 17.5523 9 17V11C9 10.4477 9.44772 10 10 10ZM14 10C14.5523 10 15 10.4477 15 11V17C15 17.5523 14.5523 18 14 18C13.4477 18 13 17.5523 13 17V11C13 10.4477 13.4477 10 14 10Z"
                                                  fill="#0D0D0D"></path>
                                        </svg>
                                    </button>
                                </form>

                                <a href="">

                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <script>eventMenu('{{ parent }}')</script>
{% endfor %}
